/*styles.css*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /*Prefent horizontal scrolling*/
  color: #feedde;
}

header {
    background-color: #769172;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 30px;
}

.navbar nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex: 1;
}

.nav-links li {
    margin-right: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #095944 ;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #feedde;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo a {
    text-decoration: none;
    color: #feedde;
    font-size: 30px;
}

.social-icons {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.social-icons li {
    margin-left: 25px;
}

.social-icons li a img {
  width: 32px;
  height: 32px;
  transition: filter 0.3s;
}

.social-icons li a:hover img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(110%) contrast(108%);
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu span {
    height: 3px;
    width: 25px;
    background: #feedde;
    margin-bottom: 5px;
    border-radius: 5px;
}

.logo, .hamburger-menu {
  z-index: 1001; /* Any value higher than the z-index of .navbar nav */
}

#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 50px 40px 50px;
    background-color: #769172 ;
    height: 115vh;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hero-text {
    flex: 1;
    position: relative;
    top: -50px;
    max-width: 600px;
}

.hero-text h1 {
    font-size: 3.25rem;
    color: #feedde;
    margin: 0;
    font-weight: 400;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

.hero-image img {
    width: 95%;
    height: auto;
    position; relative;
    top: 50px;
    left: -25%;
}

.featured-works-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    background-color: #769172;
}

.section-heading {
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px; /* Space between the heading and the gallery section */
    color: #feedde; /* Adjust the color as needed */
    font-weight: 400;
}

.gallery-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #769172;
}

.gallery-row {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.gallery-item {
    flex: 0 0 calc(50% - 40px); /* Two items per row with margin accounted for */
    margin: 20px; /* Equal margin on all sides*/
    position: relative;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.4s ease;
}

.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #769172;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.gallery-item .overlay-text {
  font-size: 28px;
  color: #feedde;
}

.gallery-item:hover img {
  opacity: 0;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

section {
  padding: 60px 20px;
  text-align: center;
  background-color: #769172;
}

.subscribe-section {
  padding: 60px 20px;
  background-color: #769172;
  text-align: center;
}

.subscribe-section h2 {
  font-size: 28px;
  color: #feedde;
  font-weight: 400;
  margin-bottom: 20px;
}

.subscribe-section p {
  font-size: 18px;
  color: #feedde;
  margin-bottom: 20px;
}

.subscribe-section form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.subscribe-section input[type="email"] {
  width: 100%;
  max-width: 500px;
  padding: 15px 20px;
  font-size: 18px;
  border: 1px solid #feedde;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #feedde;
  color: #095944;
}

.subscribe-section button[type="submit"] {
  padding: 15px 30px;
  font-size: 18px;
  color: #feedde;
  background-color: #095944;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-section button[type="submit"]:hover {
  background-color: #feedde;
  color: #095944;
}

footer {
  background-color: #769172 ;
  color: #feedde;
  text-align: center;
  padding: 10px 0;
}

/* Responsive styles */
@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .navbar nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background-color: #769172;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    padding-top: 70px;
    transform: translateX(-100);
    transition: transform 0.5s ease;
  }

  .navbar nav.active {
    display: flex;
    transform: translateX(0);
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-links li {
    margin: 20px 0;
  }

  .social-icons {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .social-icons li {
    margin: 0 10px;
  }

  .hamburger-menu {
    display: flex;
    position: absolute;
    right: 30px;
    top: 35px;
  }

  /* Ensure the logo is properly positioned on smaller screens */
  .logo {
    position: absolute;
    top: 35px;
    left: 30px;
    font-size: 24px;
    transform: none;
  }
}
